---
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/index.css" />
    <script src="js/vendor/modernizr.js"></script>
	<script src="js/vendor/require.js"></script>
  </head>
  <body id="index">
	{% include navbar.html %}
	<div id="center">
            <div id="logo"></div>
            <h1>{{ site.title }}</h1>
            <p>The JamCraft alien, who brought you DiseaseCraft, Cards vs. Crafters, and JamCraft: Rebirth</p>
    </div>
	<script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
 </html>
