<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="index.html">{{ site.title }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <!-- <li class="has-dropdown">
		<a href="../about.html">About</a>
		<ul class="dropdown">
			<li><a href="about.html">JamOORev</a></li>
			<li><a href="about-ooclan.html">OOClan</a></li>
			<li><a href="about-jamcraft.html">JamCraft</a></li>
		</ul>
	  </li> -->
	  <li><a href="../about.html">About</a></li>
	  <!--
	  <li><a href="http://jamoorev-forum.candicejoy.com">Forum</a></li>
	  <li><a href="../members.html">Members</a></li>-->
	  <li><a href="../jamoojam.html">JamOOJam</a></li>
	  <!--<li><a href="http://mc.jamoorev.com:8123">Dynmap (Main)</a></li>
	  <li><a href="http://mc.jamoorev.com:8124">Dynmap (Lite)</a></li>-->
    </ul>
  </section>
</nav>
